@import '../node_modules/lencse-getmdl-dashboard/src/application';

#button-add-irregular-day {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 500;
    background: $color-teal;
}

dialog.mdl-dialog .cancel-button {

}

dialog.mdl-dialog {
    background: $card-background-color;
    color: $card-text-color;

    .mdl-dialog__title {
        text-transform: uppercase;
    }

    .cancel-button {
        color: $card-subtitle-color;
    }

    .mdl-textfield__label {
        color: $card-subtitle-color;
    }

}

#content-container {
    padding-bottom: 88px;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: visible !important;
}

.select-month {
    min-width: 10em;

    * {
        z-index: 10000;
    }

    ul {
        background:  red !important;
        z-index: 10000;
        position: absolute;
    }
}

.chip-day-type.mdl-chip {
    background: $color-gray;
    .mdl-chip__contact {
        color: inherit;
    }
    .mdl-chip__text {
        color: $card-supporting-text-text-color
    }
}

#dialog-irregular-day {
    width: fit-content !important;
}

#loading-bar[data-mdl-visible="true"] {
    visibility: visible;
}

#loading-bar[data-mdl-visible="false"] {
    visibility: hidden;
}

img.avatar {
    border-radius: 16px;
    width: 32px;
    height: 32px;
}