@import '../node_modules/lencse-getmdl-dashboard/src/application';

// $card-background-color: $background-color;
// $card-text-color: unquote("rgba(#{$color-white}, 0.8)");
// $card-supporting-text-text-color: unquote("rgba(#{$color-white}, 0.8)");
// $card-subtitle-color: unquote("rgba(#{$color-white}, 0.5)");
// $card-border-color: unquote("rgba(#{$color-white},0.05)");

// $card-title-background-color: unquote("rgba(#{$color-black}, 0.3)");
// $card-actions-background-color: unquote("rgba(#{$color-white},0.05)");
// $card-text-color: unquote("rgba(#{$color-white}, 0.8)");
// $card-link-color: unquote("rgb(#{$color-primary})");
// $card-href-color: unquote("rgb(#{$color-primary})");

// $card-title-img-color: unquote("rgb(#{$color-white})");
// $card-deg-color: unquote("rgba(#{$color-white}, 0.9)");

#button-add-year {
    position: fixed;
    left: 1em;
    bottom: 1em;
    z-index: 500;
    background: $color-teal;
}

#button-add-irregular-day {
    position: fixed;
    right: 1em;
    bottom: 1em;
    z-index: 500;
    background: $color-teal;
}

dialog.mdl-dialog {
    background: $card-background-color;
    color: $card-text-color;

    .mdl-dialog__title {
        text-transform: uppercase;
    }

    .cancel-button {
        color: $card-subtitle-color;
    }

    .mdl-textfield__label {
        color: $card-subtitle-color;
    }

}

#content-container {
    padding-bottom: 88px;
}

.mdl-card, .mdl-card__supporting-text {
    overflow: visible !important;
}

.select-month {
    min-width: 10em;

    * {
        z-index: 10000;
    }

    ul {
        background:  red !important;
        z-index: 10000;
        position: absolute;
    }
}

.chip-day-type.mdl-chip {
    background: $color-gray;
    .mdl-chip__contact {
        color: $color-dark-gray;
    }
    .mdl-chip__text {
        color: $card-supporting-text-text-color
    }
}

#dialog-irregular-day {
    width: fit-content !important;
}
